.edit-photo-image {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .edit-photo-image:hover {
    opacity: 0.7; /* Adjusted opacity for better visibility */
  }

  .edit-photo-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px 10px; /* Add some padding */
    border-radius: 5px; /* Rounded corners */
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .edit-photo:hover .edit-photo-text {
    opacity: 1;
  }

  #backButton{
    position: absolute;
    top:10%;
    left:30%
  }
  @media (max-width: 768px) {
    .edit-photo-image {
        width: 50vh; /* Adjust the size for smaller screens */
        height: 50vh;
    }

    .edit-photo-text {
        top: 30%; /* Adjust position for smaller screens */
        left: 50%;
    }

    #backButton {
        top: 15%; /* Adjust position for smaller screens */
        left: 40%;
    }
}

@media (max-width: 480px) {
    .edit-photo-image {
        width: 40vh; /* Further adjust the size for even smaller screens */
        height: 40vh;
    }

    .edit-photo-text {
        top: 40%; /* Further adjust position for even smaller screens */
        left: 50%;
    }

    #backButton {
        top: 10%; /* Further adjust position for even smaller screens */
        left: 10%;
    }
}