#add{
    background: #09818d;
    
}
/* #filter{
    border
} */
#ChatsTab > div{
    padding: 5px;
    width: 2vw;
    height: 2vw;
    display: grid;
    place-items: center;
    border-radius: 5px;
    
}
#ChatsTab{
    height: 6vh;
}
#chats{
    height: 93vh;
    width: 30%;
}
#ChatsTab > h3{
    margin-right: auto;
}



