input{
    border:none;
}
.Input{
    gap:1vw;
}
.SearchBar{
    width:95vw;
    background: #eee;
    height:3rem;

}
#navBarTwo{
    display: none;
    margin-right: auto;
    align-self: center;
}
@media (max-width:480px){

    #navBarTwo{
        position: absolute;
        display: block;
        left:1vw;
        top:-45px;
    }
}
