#image img{
    width: 3vw;
    height: 3vw;
    object-fit: cover;
}
#chatBox{
    width: 70%;
    height: 90vh;
    overflow-y: hidden;
}
#chatBoxMessages{
    overflow-y: scroll;
    height: 70vh;
    scrollbar-width: none;
}
/*
#chatBoxTab{
    background:violet
} */
#inputBox{
    margin-top: auto;
    /* background: red; */
    
}
#input {
    /* position: absolute; */
    /* bottom: 5vh; */
    /* display: flex; */
    /* justify-self: flex-end; Aligns children along the horizontal line in a row */
    /* align-self: flex-end; Optional: Centers children along the vertical line in a column */
   }

#aimenu{
    position: absolute;
}