nav {
    height:100vh;
    width: fit-content;
}
nav > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1vh;
    gap: 0.5em;
    border-top: 1px solid #eee;
}
nav > div:hover{
    transform:scale(1.3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap:1em;
    background: white;
}
